.footer{
    display: flex;
    justify-content: center;
    background-color: #6900b5;
    align-items: center;
    height: 60px;
    margin: 0 auto;
     h1{
        font-size: 16px;
        color: #fff;

     }
}