.header {
    margin-top: 10px;
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task {
    h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        color: #6900b5;
    }
}
.input {
    input {
        margin-top: 20px;
        border-radius: 15px;
        border: 1px solid #6900b5;
    }
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
  
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: #6900b5;
    color: #fff;
    opacity: 0.5;
    border-radius: 15px;
    border: #6900b5;
    margin-top: 20px;
    text-decoration: none;
    opacity: 0.5;

    &:hover{
        opacity: 1;
    }
}
